body {
    font: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: border-box;
}

.content {
    width: 60%;
    position: relative;
    display: block;
    margin: auto;
}

.content {
    width: 50%;
    margin:auto;       
}

h2 {
    width: 10%;
    margin:auto;       
}
#bio:hover {
    color: white;
}

h1 {
    color: red;
}
.work_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.contact {
    display: grid;
}

.funtitle {
    width: 30%
}